h3 {
	color: yellow;
}

#first-id {
	color: blue;
	border: 1px solid red;
}

.first-class {
	background-color: yellow;
}

#image-style {
	filter: grayscale(50%) invert(100%);
}

#image-style1 {
	filter: grayscale(10%) invert(10%);
}

#image-style2 {
	filter: grayscale(100%) invert(50%);
}

#image-style3 {
	filter: grayscale(70%) invert(10%);
}

#image-style4 {
	filter: grayscale(20%) invert(90%);
}

.profile:hover {
	transition: all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;

	transform: scale(1.25, 1.25) rotate(90deg);
	-webkit-transform: scale(1.25, 1.25) rotate(90deg);
}